.mulu a{
    color: aliceblue;
}
.mulu{
    background-color: darkcyan;
    
}
.shili{
    color: #617F10;
    background-color:#E5EECC ;
}
.changshi{
    color: floralwhite; 
    background-color:#8AC007 ;
    border-radius: 50px;
}
.left_h4{
    color: green;
}
div ul li a{
    color: black;
}
